.ui__button {
  cursor: pointer;
  outline: none;
  user-select: none;
  transition: $focus-transition;
  @include flex-center;

  &__internal {
    @include flex-center;
  }

  &--disabled {
    cursor: default;
    opacity: 0.7;

    > * {
      opacity: 0.7;
    }
  }

  &:focus.ui__button--tabbing {
    @include focus;
  }

  // Remove dotted lines within firefox buttons.
  &::-moz-focus-inner {
    border: 0;
  }

  /* --- Button styles. --- */

  &--style {
    &-default {
      border: 1px solid $color-blue-gray-5;
      background-color: $color-blue-gray-5;
      color: $color-contrast-1;

      i {
        fill: $color-contrast-1;
      }

      &:active:not(.ui__button--disabled) {
        border-color: $color-blue-gray-6;
        background-color: $color-blue-gray-6;
      }
    }

    &-borderless {
      border: 1px solid transparent;
      background-color: transparent;
      color: $color-blue-gray-5;

      i {
        fill: $color-blue-gray-5;
      }

      &:active:not(.ui__button--disabled) {
        color: $color-blue-gray-6;

        i {
          fill: $color-blue-gray-6;
        }
      }
    }

    &-outline {
      border: 1px solid $color-blue-gray-5;
      background-color: transparent;
      color: $color-blue-gray-5;

      i {
        fill: $color-blue-gray-5;
      }
      transition: background-color 75ms ease-in-out, color 75ms ease-in-out;

      &:focus.ui__button--tabbing,
      &:hover:not(.ui__button--disabled) {
        background-color: $color-blue-gray-5;
        color: $color-contrast-1;

        i {
          fill: $color-contrast-1;
        }
      }

      &:active:not(.ui__button--disabled) {
        border-color: $color-blue-gray-6;
        background-color: $color-blue-gray-6;
      }
    }
  }

  /* --- Button sizes. --- */

  &--size {
    &-small {
      border-radius: $border-radius;
      font-size: $font-size-small;
      padding: 2px $padding-tiny;
      min-height: 24px;
    }

    &-default {
      border-radius: $border-radius;
      padding: $padding-tiny $padding-medium;
      min-width: 88px;
      min-height: 32px;
    }

    &-large {
      border-radius: $border-radius;
      padding: $padding-tiny $padding-large;
      min-width: 120px;
      min-height: 40px;
    }
  }
}
