.ui__button {
  cursor: pointer;

  &--disabled {
    //
  }

  /* --- Button styles. --- */

  &--default {
    background: blue;
    color: white;
  }

  &--borderless {
    border-color: transparent;
    background-color: transparent;
  }

  &--outline {
    border-color: blue;
  }
}
