$thumbnail-border-size: 2px;

.ui__thumbnail {
  padding: $padding;
  position: relative;
  outline: none;
  width: $thumbnail-dimensions;
  height: $thumbnail-dimensions;
  transition: 0.1s background-color;
  display: flex;
  flex-direction: column;

  &--selected:not(.ui__thumbnail--dragging) {
    background-color: $color-blue-gray-1;
  }

  &--dragging {
    border: $thumbnail-border-size dashed $color-theme-primary;
    z-index: $z-index-dragging;

    margin: -($thumbnail-border-size / 2);

    width: $thumbnail-border-size + $thumbnail-dimensions;
    height: $thumbnail-border-size + $thumbnail-dimensions;

    .ui__thumbnail__controls,
    .ui__thumbnail__image,
    .ui__thumbnail__label {
      visibility: hidden;
    }
  }

  &--otherDragging {
    pointer-events: none;
  }

  @include for-phone-only {
    .ui__thumbnail__controls {
      opacity: 1;
    }
  }

  &:hover,
  &--focused.ui__thumbnail--tabbing:not(.ui__thumbnail--disabled) {
    // Do not style for hover or focus if anything is dragging
    &:not(.ui__thumbnail--dragging):not(.ui__thumbnail--otherDragging) {
      .ui__thumbnail__controls {
        opacity: 1;
      }
    }
  }

  &:hover,
  &--focused.ui__thumbnail--tabbing:not(.ui__thumbnail--disabled) {
    // Do not style for hover or focus if anything is dragging
    &:not(.ui__thumbnail--dragging):not(.ui__thumbnail--otherDragging):not(.ui__thumbnail--selected) {
      background-color: $color-gray-3;
    }
  }

  &:focus.ui__thumbnail--tabbing:not(.ui__thumbnail--disabled) {
    .ui__thumbnail__image {
      img,
      .ui__thumbnail__image__skeleton {
        @include focus;
        border-color: $color-focus-shadow;
      }
    }
  }

  &__controls {
    @include opacity-transition-fast;
    position: absolute;
    top: $padding-tiny;
    right: $padding-tiny;
    opacity: 0;
    display: flex;
    border-radius: $border-radius;
    background-color: $color-background-canvas;
  }

  &__selectedIcon {
    position: absolute;
    top: $padding-tiny;
    left: $padding-tiny;
  }

  &__image {
    @include flex-center;
    flex-direction: column;
    height: 0;
    flex: 1 1 auto;
    pointer-events: none;

    img,
    .ui__thumbnail__image__skeleton {
      border: 1px solid $color-blue-gray-1;
      transition: $focus-transition;
    }
  }

  &__label {
    text-align: center;
    margin-top: $padding;
  }
}
