$thumbnail-dimensions: 250px;

.ui__thumbnail {
  padding: $padding;
  position: relative;
  border: 0;
  outline: 0;
  width: 250px;
  height: 250px;
  transition: 0.1s background-color;
  user-select: none;

  &--selected {
    background-color: $blue-gray-1;

    .ui__thumbnail__label {
      text-decoration: underline;
    }
  }

  &:hover,
  &.ui__thumbnail--focused {
    &:not(.ui__thumbnail--selected) {
      background-color: $mono-background;
    }

    .ui__thumbnail__controls {
      opacity: 1;
    }
  }

  &:focus {
    .ui__thumbnail__image img {
      @include focus;
      border-color: $focus-shadow;
    }
  }

  &__controls {
    transition: 0.1s opacity;
    position: absolute;
    top: $padding-tiny;
    right: $padding-tiny;
    opacity: 0;
    position: absolute;
    display: flex;
    overflow: hidden;
    border-radius: $border-radius-small;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;

    img {
      max-width: 100%;
      max-height: 100%;
      border: 1px solid $blue-gray-1;
    }
  }

  &__label {
    text-align: center;
    margin-top: $padding-small;
  }
}
