.ui__clickableDiv {
  display: inline-block;
  outline: none;
  border: none;
  transition: $focus-transition;

  // Don't show focus shadow if no focus style or disabled.
  &:focus:not(.ui__clickableDiv--noFocusStyle):not(.ui__clickableDiv--disabled) {
    @include focus;
  }

  &--usePointer {
    cursor: pointer;
  }
}
