.ui__clickableDiv {
  display: inline-block;
  outline: none;
  border: none;

  // Don't show focus shadow if no focus style or disabled.
  &:focus:not(.ui__clickableDiv--noFocusStyle):not(.ui__clickableDiv--disabled) {
    @include focus;
  }

  &--disabled {
    opacity: 0.8;
  }
}
