// Scoped to base class at the root of each component.
.ui__base {
  // Scope normalize css into the base.
  @import '~normalize.css';

  box-sizing: border-box;
  font-size: $font-size-default;
  line-height: 1.25;
  font-family: inherit;
  color: $color-font-primary;
  font-weight: $font-weight-normal;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}
