/* --- Focus shadows (make sure you also do transition: $focus-transition on parent. --- */

@mixin focus {
  box-shadow: 0 0 0 2px $focus-shadow;
}

@mixin focus-inset {
  box-shadow: inset 0 0 0 2px $focus-shadow;
}

/* --- Media query mixins. --- */

// Try not to use this, as it breaks "mobile first" principles.
@mixin for-phone-only {
  @media (max-width: $tablet-lower-boundary - 1) {
    @content;
  }
}

@mixin for-tablet-up {
  @media (min-width: $tablet-lower-boundary) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: $desktop-lower-boundary) {
    @content;
  }
}

/* --- Positional. --- */

@mixin absolute-fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin skeleton {
  @include absolute-fill;
  content: '';
}
