/* --- Focus shadows (for smooth, put transition: $focus-transition on element. --- */

@mixin focus {
  box-shadow: 0 0 0 2px var(--color-focus-shadow);
}

@mixin focus-inset {
  box-shadow: inset 0 0 0 2px var(--color-focus-shadow);
}

/* --- Media query mixins. --- */

// Try not to use this, as it breaks "mobile first" principles.
@mixin for-phone-only {
  @media (max-width: var(--breakpoint-tablet) - 1) {
    @content;
  }
}

@mixin for-tablet-up {
  @media (min-width: var(--breakpoint-tablet)) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: var(--breakpoint-desktop)) {
    @content;
  }
}

/* --- Positional. --- */

@mixin absolute-fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin fixed-fill {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// This provides the animation for skeleton loading.
@mixin skeleton {
  animation: timeline 2s linear infinite;
  background: linear-gradient(to right, #eee 0%, #ddd 10%, #eee 20%);
  background-size: 600px auto;
}

@keyframes timeline {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}
