/* --- Colors. --- */

// Use these in your sass rather than using var in line.
$color-theme-primary: var(--color-theme-primary);
$color-theme-secondary: var(--color-theme-secondary);
$color-font-primary: var(--color-font-primary);
$color-font-secondary: var(--color-font-secondary);
$color-background-canvas: var(--color-background-canvas);
$color-gray-1: var(--color-gray-1);
$color-gray-2: var(--color-gray-2);
$color-focus-shadow: var(--color-focus-shadow);

$color-blue-gray-1: var(--color-blue-gray-1);
$color-blue-gray-2: var(--color-blue-gray-2);
$color-blue-gray-3: var(--color-blue-gray-3);
$color-blue-gray-4: var(--color-blue-gray-4);
$color-blue-gray-5: var(--color-blue-gray-5);
$color-blue-gray-6: var(--color-blue-gray-6);
$color-blue-gray-7: var(--color-blue-gray-7);
$color-white-1: var(--color-white-1);
$color-white-2: var(--color-white-2);
$color-white-3: var(--color-white-3);

/* --- Focus. --- */

$focus-transition: var(--focus-transition);

/* --- Font sizing. --- */

$font-size-tiny: var(--font-size-tiny);
$font-size-small: var(--font-size-small);
$font-size-default: var(--font-size-default);
$font-size-medium: var(--font-size-medium);
$font-size-large: var(--font-size-large);
$font-size-huge: var(--font-size-huge);

/* --- Font weights. --- */

$font-weight-normal: var(--font-weight-normal);
$font-weight-bold: var(--font-weight-bold);

/* --- Layout --- */

$border-radius-small: var(--border-radius-small);
$border-radius: var(--border-radius);
$border-radius-large: var(--border-radius-large);

/* --- Padding. --- */

$padding-tiny: var(--padding-tiny);
$padding-small: var(--padding-small);
$padding: var(--padding);
$padding-large: var(--padding-large);

/* --- Breakpoints (use mixins for setting media queries). --- */

$tablet-lower-boundary: var(--tablet-lower-boundary);
$desktop-lower-boundary: var(--desktop-lower-boundary);

/* --- Z-Index values. --- */

$z-index-local: var(--z-index-local);
$z-index-raised: var(--z-index-raised);
$z-index-dragging: var(--z-index-dragging);
