.ui__spinner {
  display: inline-block;

  &__animated {
    width: 100%;
    height: 100%;
    animation: spin 1.2s cubic-bezier(0.4, 0.2, 0.6, 0.8) infinite;
    border-radius: 50%;
    border: solid;
    border-color: $color-blue-gray-5 $color-blue-gray-1 $color-blue-gray-1;
  }

  /* --- Spinner sizes. --- */

  &--size {
    &-tiny {
      width: 12px;
      height: 12px;

      .ui__spinner__animated {
        border-width: 1px;
      }
    }

    &-small {
      width: 16px;
      height: 16px;

      .ui__spinner__animated {
        border-width: 2px;
      }
    }

    &-default {
      width: 24px;
      height: 24px;

      .ui__spinner__animated {
        border-width: 2px;
      }
    }

    &-large {
      width: 32px;
      height: 32px;

      .ui__spinner__animated {
        border-width: 2px;
      }
    }
  }
}
