.ui__label {
  &--attached::after {
    height: 2px;
    width: 1px;
    content: '';
    display: block;
  }

  &--disabled {
    opacity: 0.7;
  }

  &__optional {
    font-size: $font-size-small;
    margin-left: $padding-tiny;
    color: $color-font-secondary;
    font-style: italic;
  }
}
