.ui__editableText {
  &--disabled {
    .ui__editableText__button {
      > span {
        opacity: 0.7;
      }
    }
  }

  &--centerText {
    .ui__editableText__button {
      justify-content: center;
    }

    .ui__editableText__field {
      text-align: center;
    }
  }

  &--bordered {
    .ui__editableText__button {
      border: 1px solid $color-blue-gray-2;
    }

    &:not(.ui__editableText--disabled) .ui__editableText__button {
      &:hover {
        background-color: $color-blue-gray-2;
      }

      &--placeholder {
        color: $color-blue-gray-3;
      }
    }
  }

  .ui__editableText__field {
    line-height: 1;
  }

  &__button,
  &__field {
    min-height: 28px;
    min-width: 100%;
    color: $color-font-primary;
    padding: $padding-tiny;
    border-radius: $border-radius;
    border: 1px solid transparent;
  }

  &__button {
    display: flex;
    align-items: center;
    transition: 0.1s background-color;
    transition: $focus-transition;
    line-height: 1.15; // FIX: match the normalize.css for input.

    > span {
      line-height: 1.15rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &--noFocusTransition {
      // Prevents focus ring "stutter". Remove if transition is removed from focus.
      transition: none;
    }
  }

  &:not(.ui__editableText--disabled):not(.ui__editableText--locked)
    .ui__editableText__button {
    &:hover {
      border: 1px solid $color-blue-gray-2;
    }

    &--placeholder {
      color: $color-blue-gray-3;
    }
  }

  &__field {
    background-color: $color-blue-gray-2;
    outline: none;
    transition: $focus-transition;

    &:focus.ui__editableText__field--tabbing {
      @include focus;
      // Prevents focus ring "stutter". Remove if transition is removed from focus.
      transition: none;
    }
  }
}
