.ui__fileSkeleton {
  background-color: $white-1;
  padding: 10px;
  height: 162px;
  width: 125px;

  &__block {
    @include skeleton;

    &--thumbnail {
      width: 40px;
      height: 40px;
      float: left;
    }

    &--line-sm {
      margin-left: 50px;
      margin-top: 10px;
      height: 6px;
    }

    &--line-xs {
      margin-left: 50px;
      margin-top: 10px;
      width: 40px;
      height: 6px;
    }

    &--line-df {
      margin-top: 20px;
      width: 90px;
      height: 6px;
    }

    &--line-lg {
      margin-top: 10px;
      width: 90px;
      height: 6px;
    }

    &--line-lgx {
      margin-top: 10px;
      height: 6px;
    }
  }
}
