.ui__toastProvider {
  opacity: 1;
  @include opacity-transition;

  &--closing {
    opacity: 0;
  }

  &__toast {
    display: flex;
    justify-content: flex-end;
    padding: $padding;

    transform: translateY(-100%);
    @include slide-in;
  }
}
