$tool-button-background: rgba(175, 175, 175, 0.3);

%tool-button-background {
  &:hover:not(.ui__toolButton--disabled),
  &:focus.ui__toolButton--tabbing:not(.ui__toolButton--disabled),
  &:active:not(.ui__toolButton--disabled) {
    background-color: $tool-button-background;
  }
}

.ui__toolButton {
  display: inline-flex;
  flex-direction: column;

  &--expanded {
    &.ui__toolButton--right {
      flex-direction: row;
    }

    &.ui__toolButton--bottom {
      flex-direction: column;
    }
  }
}

.ui__toolButton__action {
  @extend %tool-button-background;

  &.ui__toolButton--expanded {
    &.ui__toolButton--right {
      border-radius: $border-radius 0 0 $border-radius;
    }

    &.ui__toolButton--bottom {
      border-radius: $border-radius $border-radius 0 0;
    }
  }

  &__internals {
    width: 100%;
    height: 100%;
    @include flex-center;
  }
}

.ui__toolButton__expand.ui__button {
  padding: 0;
  @include flex-center;
  min-height: 0;

  &.ui__toolButton--right {
    border-radius: 0 $border-radius $border-radius 0;
  }

  &.ui__toolButton--bottom {
    border-radius: 0 0 $border-radius $border-radius;
  }

  @extend %tool-button-background;
}
