.ui__buttonGroup {
  // do not mulply by -1 as it seems to cause issues for other libraries that uses this library
  margin: calc(1px - #{$padding-tiny} - 1px);
  display: flex;
  flex-wrap: wrap;

  // Undo negative margin on nested groups.
  > .ui__buttonGroup {
    margin: 0;
  }

  // Buttons inside are kept apart by padding.
  > button {
    margin: $padding-tiny;
  }

  &--reverse {
    flex-wrap: wrap-reverse;
  }

  &--centerMobile.ui__buttonGroup {
    @include for-phone-only {
      justify-content: center;
    }
  }

  &--position {
    &-left {
      justify-content: flex-start;
    }

    &-center {
      justify-content: center;
    }

    &-right {
      justify-content: flex-end;
    }

    &-space-between {
      justify-content: space-between;
    }

    &-space-around {
      justify-content: space-around;
    }
  }
}
