@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,700,700i&display=swap');

html,
body {
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}

$color-background-canvas: #eff5f5;

.sb-show-main > #root {
  background-color: $color-background-canvas;
}

// Change appearance of inserted stories.
#docs-root {
  .sbdocs-content {
    .sbdocs-preview {
      // Remove `Show code` button for inserted stories.
      > div:nth-child(1) > div:nth-child(2) {
        display: none;
      }

      // Make inline story background canvas.
      div[id^='story--'] {
        background-color: $color-background-canvas;
      }

      // Remove `Show code` button for primary stories.
      > div:nth-child(2) > div:nth-child(2) {
        display: none;
      }

      // Remove code preview.
      #story-root + div {
        display: none;
      }

      // Remove internal spacing.
      > div > div {
        padding: 0;

        > div {
          margin: 0;
        }
      }
    }
  }
}

// Change appearance of info.
#root {
  height: 100%;
  display: flex;
  flex-direction: column;

  // Story root or div with class should be auto flexed.
  > #story-root,
  > div[class] {
    flex: 1 1 auto;
    overflow: auto;
  }

  // Non story root without class is the code preview.
  > div:not(#story-root):not([class]) {
    flex-shrink: 0;
    max-height: 40%;
    overflow: auto;

    > div > *:not(div) {
      display: none;
    }

    // Make code blocks smaller
    code {
      font-size: 12px;
      font-weight: 500;
    }
  }
}
