@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap');

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

$background-canvas: #eff5f5;

// Change background colors of all inline stories within docs.
#docs-root {
  .sbdocs-content {
    .sbdocs-preview {
      > div:nth-child(1) {
        > div:nth-child(1):not([data-simplebar]) {
          background-color: $background-canvas;
        }

        > div:nth-child(2) {
          background-color: transparent;
        }
      }

      > div:nth-child(2) {
        > div:nth-child(1) {
          background-color: $background-canvas;
        }

        > div:nth-child(2) {
          background-color: transparent;
        }
      }
    }
  }
}

// Change appearance of info.
#root {
  height: 100%;
  display: flex;
  flex-direction: column;

  // Story root or div with class should be auto flexed.
  > #story-root,
  > div[class] {
    background-color: $background-canvas;
    flex: 1 1 auto;
    overflow: auto;
  }

  // Non story root without class is the code preview.
  > div:not(#story-root):not([class]) {
    flex-shrink: 0;
    max-height: 40%;
    overflow: auto;

    > div > *:not(div) {
      display: none;
    }

    // Make code blocks smaller
    code {
      font-size: 12px;
      font-weight: 500;
    }
  }
}
